In [1]:
print_Invest = True

In [2]:
import os
import pandas as pd
import numpy as np
from datetime import date

Необходимые для работы функции:

In [3]:
month_map = {'ЯНВ': '01', 'ФЕВ': '02', 'МАР': '03', 'АПР': '04', 'МАЙ': '05', 
             'ИЮН': '06', 'ИЮЛ': '07', 'АВГ': '08', 'СЕН': '09', 'ОКТ': '10', 
             'НОЯ': '11', 'ДЕК': '12'}

files_list = [x for x in os.listdir() if 'Прогноз_' in x and '~' not in x]
map_list = []
for file in files_list:
    data = pd.read_excel(file, sheet_name='snapshot')
    data_list = data.iloc[13:, 1].unique().tolist()
    map_list = map_list + data_list

map_set = list(set(map_list))
map_df = pd.DataFrame({'ПВК': map_set}, index= [x for x in range(len(map_set))])

data_did = pd.read_excel('Currency.xlsx')
data_did = data_did.iloc[:, 1:].reset_index(drop=True)
CCY_dict = {x:y for x,y in zip(data_did.iloc[:, 0].tolist(), data_did.iloc[:, 1].tolist())}

inter_list = list(set(map_df.iloc[:, 0]).intersection(set(data_did.iloc[:, 0])))
manual_df = map_df[~map_df.iloc[:, 0].isin(inter_list)]

In [4]:
manual_df
# manual_df.to_excel('Currency_map.xlsx')

     ПВК
0    RUG
1    KZT
2    INR
3    RUK
4   RUE5
5    CHF
6   RUY3
7    CAD
8    EUR
9    RUE
10   RUJ
11   USD
12   RUB
13  RUY5
14   RUI
15   AUD
16     #
17   ARS
18   RUC
19  RUK5
20   RUY
21   JPY
22   CNY
23   RUU
24   ZAR
25  RUU5
26   GBP

Рабочие данные:

In [5]:
files_list = os.listdir('.')
work_files_list = [x for x in files_list if ('.xlsm' in x and '~' not in x and 'Шапка' not in x)]
SUEK_work_files_list = [x for x in work_files_list if 'С' in x]
EURO_work_files_list = [x for x in work_files_list if 'Е' in x]

data_work_files_list = [SUEK_work_files_list, EURO_work_files_list]

In [6]:
work_files_list

['Прогноз_ЕХ_(2024_04).xlsm',
 'Прогноз_ЕХ_КЗ_(2024_04).xlsm',
 'Прогноз_СГК_(2024_04).xlsm',
 'Прогноз_СУЭК_(2024_04).xlsm']

In [7]:
Data_for_header_list = ['Шапка_ЕХ.xlsm', 'Шапка_СУЭК.xlsm']
Sheet_in_data_for_header = 'result'

for Group_file_for_header in Data_for_header_list:
    
    Group_data_for_header = pd.read_excel(Group_file_for_header, sheet_name=Sheet_in_data_for_header)

    # Проверка на соответствие числа столбцов 28-и
    while Group_data_for_header.shape[1] >28:
        Group_data_for_header = Group_data_for_header.drop(Group_data_for_header.columns[-1], axis=1)

    # Создание header
    Group_start_columns_list = Group_data_for_header.columns.tolist()
    Group_first_row = pd.Series({x:y for x,y in zip(Group_start_columns_list, Group_start_columns_list)})
    Group_header = Group_data_for_header.iloc[:4]
    Group_header.loc[Group_header.shape[0]] = Group_first_row
    Group_header = Group_header.iloc[[-1,0,1,2,3]]

    # проверка на Group и присваивание переменных
    if 'С' in Group_file_for_header:
        SUEK_header = Group_header
    elif 'Е' in Group_file_for_header:
        EURO_header = Group_header
    else:
        assert 1 != 1

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\2198211952.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group_header.loc[Group_header.shape[0]] = Group_first_row

C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\2198211952.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group_header.loc[Group_header.shape[0]] = Group_first_row

In [8]:
import sys
sys.path.append("C:\\Users\\KlimovaAnnaA\\Documents\\MyFiles\\Projects\\OCP")
from Defs import merge_SalesUnits
from Defs import merge_Mapping

In [9]:
SUEK_cocat_data = pd.DataFrame()
EURO_cocat_data = pd.DataFrame()

for Group_work_file in work_files_list:

    # Чтение файла
    Group_data = pd.read_excel(Group_work_file, sheet_name='snapshot')
    Group_data_work = Group_data

    # Удаление лишних строк
    Group_data_work = Group_data_work.iloc[13:].reset_index(drop=True)

    # Проверка на соответсвие кол-ва столбцов 20-и
    while Group_data_work.shape[1] >20:
        Group_data_work = Group_data_work.drop(Group_data_work.columns[-1], axis=1)

    # Добавление значений в столбец Дата
    Group_data_work['Дата'] = Group_data_work.iloc[:, 2] + '-' + Group_data_work.iloc[:, 3].replace(month_map) + '-01'

    # Merge и добавление столбца CompCode
    # merge_df = Group_data_work.merge(SalesUnits_work_data, right_on='sapId', left_on='Unnamed: 4', how='left')['id']
    Group_data_work['CompCode'] = merge_SalesUnits(Group_data_work, col='Unnamed: 4', id_col='sapId', merge_col='id')

    # Map названия валют
    Group_data_work.iloc[:, 1] = Group_data_work.iloc[:, 1].replace(CCY_dict)
    
    if Group_work_file in SUEK_work_files_list:
        
        Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']] = Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']].fillna(0)
        Group_data_work['Незаконтрактовано_035'] = Group_data_work['Unnamed: 6'] + Group_data_work['Unnamed: 7'] + Group_data_work['Unnamed: 8']
        Group_data_work['Законтрактовано_035'] = Group_data_work['Unnamed: 9']

        Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']] = Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']].fillna(0)
        Group_data_work['Незаконтрактовано_075'] = Group_data_work['Unnamed: 13'] + Group_data_work['Unnamed: 14'] + Group_data_work['Unnamed: 15']
        Group_data_work['Законтрактовано_075'] = Group_data_work['Unnamed: 16']

        Group_data_work[['Незаконтрактовано', 'Законтрактовано', 'Сумма']] = 0

        # Замена пустых строк на нули
        Group_data_work[['Unnamed: 10','Unnamed: 11', 'Unnamed: 17']] = Group_data_work[['Unnamed: 10','Unnamed: 11', 'Unnamed: 17']].fillna(0)

        # Добавление значений в столбец Итого_законтрактовано по условию
        Group_data_work.loc[Group_data_work['Unnamed: 17'] > (Group_data_work['Unnamed: 10'] + Group_data_work['Unnamed: 11']), 'Законтрактовано'] = Group_data_work['Законтрактовано_075']
        Group_data_work.loc[~(Group_data_work['Unnamed: 17'] > (Group_data_work['Unnamed: 10'] + Group_data_work['Unnamed: 11'])), 'Законтрактовано'] = Group_data_work['Законтрактовано_035']

        
        # Порядок столбцов
        Group_data_work = Group_data_work[['CompCode', 'Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4','Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9','Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12','Незаконтрактовано_035', 'Законтрактовано_035', 'Unnamed: 13','Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17','Unnamed: 18', 'Незаконтрактовано_075', 'Законтрактовано_075','Незаконтрактовано', 'Законтрактовано', 'Сумма', 'Дата']]

        # проверка на 28-м столбцов
        assert Group_data_work.shape[1] == 28

        # Объединение данных для всего суэк
        SUEK_cocat_data = pd.concat([SUEK_cocat_data, Group_data_work], axis=0)
    
    if Group_work_file in EURO_work_files_list:
    
        Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']] = Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']].fillna(0)
        Group_data_work['Незаконтрактовано_075'] = Group_data_work['Unnamed: 6'] + Group_data_work['Unnamed: 7'] + Group_data_work['Unnamed: 8']
        Group_data_work['Законтрактовано_075'] = Group_data_work['Unnamed: 9']

        Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 12']] = Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 12']].fillna(0)
        Group_data_work['Незаконтрактовано_085'] = Group_data_work['Unnamed: 13'] + Group_data_work['Unnamed: 14'] + Group_data_work['Unnamed: 12']
        Group_data_work['Законтрактовано_085'] = Group_data_work['Unnamed: 15']

        Group_data_work[['Незаконтрактовано', 'Законтрактовано', 'Сумма']] = 0

        # Замена пустых строк на нули
        Group_data_work[['Unnamed: 16','Unnamed: 17', 'Unnamed: 10']] = Group_data_work[['Unnamed: 16','Unnamed: 17', 'Unnamed: 10']].fillna(0)

        # Добавление значений в столбец Итого_законтрактовано по условию
        Group_data_work.loc[Group_data_work['Unnamed: 10'] > (Group_data_work['Unnamed: 16'] + Group_data_work['Unnamed: 17']), 'Законтрактовано'] = Group_data_work['Законтрактовано_075']
        Group_data_work.loc[~(Group_data_work['Unnamed: 10'] > (Group_data_work['Unnamed: 16'] + Group_data_work['Unnamed: 17'])), 'Законтрактовано'] = Group_data_work['Законтрактовано_085']

        # Порядок столбцов
        Group_data_work = Group_data_work[['CompCode', 'Unnamed: 0','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4','Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9','Unnamed: 10', 'Unnamed: 11', 'Незаконтрактовано_075', 'Законтрактовано_075','Unnamed: 12', 'Unnamed: 13','Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17','Unnamed: 18', 'Незаконтрактовано_085', 'Законтрактовано_085','Незаконтрактовано', 'Законтрактовано', 'Сумма', 'Дата']]

        # проверка на 28-м столбцов
        assert Group_data_work.shape[1] == 28

        # Объединение данных для всего суэк
        EURO_cocat_data = pd.concat([EURO_cocat_data, Group_data_work], axis=0)


# Названия столбцов сравнять 
SUEK_header.columns = SUEK_cocat_data.columns
EURO_header.columns = EURO_cocat_data.columns
# Добавление headers
SUEK_to_print = pd.concat([SUEK_header, SUEK_cocat_data], axis=0)
EURO_to_print = pd.concat([EURO_header, EURO_cocat_data], axis=0)

C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:89: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['RUNWT' 'RUNWT' 'RUNWT' ... 'RUESZ' 'RUFSF' 'RUNEV']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_col}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_col}_merge'] != 'External', f'{id_col}_merge']
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:58: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']] = Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:62: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 12']] = Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 12']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:69: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 16','Unnamed: 17', 'Unnamed: 10']] = Group_data_work[['Unnamed: 16','Unnamed: 17', 'Unnamed: 10']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:72: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 3.78946200e+04
 4.40000000e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 9.52830000e+02
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.49256971e+07 2.84691616e+07
 3.06322083e+07 1.79571270e+06 5.88021000e+03 3.26061810e+05
 2.04649880e+06 2.81174859e+07 2.16366585e+06 1.72778540e+05
 2.33578000e+03 4.65823011e+06 5.02621109e+06 0.00000000e+00
 0.00000000e+00 9.10000000e-01 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 1.49935560e+06 1.87289887e+06
 8.55570408e+06 2.56027000e+04 2.37931840e+05 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 2.00000000e-02 0.00000000e+00 4.00000000e-02
 0.00000000e+00 2.00000000e-02 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 3.00000000e-02
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 6.00000000e-02
 0.00000000e+00 8.00000000e-02 0.00000000e+00 4.00000000e-02
 1.75650642e+06 2.24143620e+05 8.07828469e+06 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 1.08974698e+06
 5.42087370e+05 6.25378260e+05 3.65833590e+05 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 1.68562142e+06 3.18064300e+04 0.00000000e+00]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Group_data_work.loc[Group_data_work['Unnamed: 10'] > (Group_data_work['Unnamed: 16'] + Group_data_work['Unnamed: 17']), 'Законтрактовано'] = Group_data_work['Законтрактовано_075']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:89: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZUDB'
 'KZKRT' 'KZUDB' 'KZKRT' 'KZUDB' 'KZKRT' 'KZUSH' 'KZUDB' 'KZKRT' 'KZKAM'
 'KZUDB' 'KZKRT' 'KZUSH' 'KZAGR' 'KZUDB' 'KZKRT' 'KZKAM' 'KZUDB' 'KZKRT'
 'KZUSH' 'KZAGR' 'KZUDB' 'KZKRT' 'KZAGR' 'KZUDB' 'KZKRT' 'KZAGR' 'KZUDB'
 'KZKRT' 'KZUDB' 'KZKRT' 'KZUDB' 'KZKRT' 'KZUSH' 'KZUDB' 'KZKRT' 'KZUDB'
 'KZKRT' 'KZUDB' 'KZKRT' 'KZUDB' 'KZKRT' 'KZUDB' 'KZUDB' 'KZUDB' 'KZUDB'
 'KZUDB' 'KZUDB' 'KZKRT' 'KZKRT' 'KZUDB' 'KZKRT' 'KZKRT' 'KZUDB' 'KZKRT'
 'KZKRT' 'KZUDB' 'KZKRT' 'KZUDB' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT'
 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT'
 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT'
 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT' 'KZKRT']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_col}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_col}_merge'] != 'External', f'{id_col}_merge']
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:58: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']] = Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:62: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 12']] = Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 12']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:69: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 16','Unnamed: 17', 'Unnamed: 10']] = Group_data_work[['Unnamed: 16','Unnamed: 17', 'Unnamed: 10']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:72: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[  0.        0.        0.        0.        0.        0.        0.
   0.        0.      220.13978]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Group_data_work.loc[Group_data_work['Unnamed: 10'] > (Group_data_work['Unnamed: 16'] + Group_data_work['Unnamed: 17']), 'Законтрактовано'] = Group_data_work['Законтрактовано_075']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:89: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['U300' 'U100' 'U200' 'V100' '1300' '1R00' '1S00' 'RUNAK' 'RUERG' 'R100'
 'U100' 'U200' 'U300' 'U400' 'U600' 'U700' 'U900' 'V100' 'V300' 'V800'
 'VG00' 'VH00' 'W100' 'Y100' 'Y300' 'Y500' 'Y600' 'Y800' '1R00' '1S00'
 'RUNAK' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600' 'U700' 'V100' 'V300'
 'V800' 'VC00' 'VG00' 'VH00' 'W100' 'Y100' 'Y300' 'Y800' '1300' '1R00'
 '1S00' 'RUNAK' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600' 'U700' 'U900'
 'V100' 'V300' 'V800' 'VC00' 'VH00' 'W100' 'Y100' 'Y300' 'Y800' '1R00'
 'RUNAK' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600' 'U700' 'U900' 'V100'
 'V300' 'V800' 'VF00' 'VG00' 'VH00' 'W100' 'Y100' 'Y300' 'Y800' '1300'
 '1R00' '1S00' 'RUNAK' 'RUERG' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600'
 'U700' 'U900' 'UB00' 'V100' 'V300' 'V800' 'VC00' 'VF00' 'VG00' 'VH00'
 'VI00' 'W100' 'Y100' 'Y300' 'Y500' 'Y600' 'Y800' '1300' '1R00' '1S00'
 'RUNAK' 'RUERG' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600' 'U700' 'U900'
 'UB00' 'V100' 'V200' 'V300' 'V800' 'VC00' 'VF00' 'VG00' 'VH00' 'VI00'
 'W100' 'Y100' 'Y300' 'Y500' 'Y600' 'Y800' '1300' '1R00' '1S00' 'RUNAK'
 'RUERG' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600' 'U700' 'U900' 'UB00'
 'V100' 'V300' 'V800' 'VC00' 'VF00' 'VG00' 'VH00' 'VI00' 'W100' 'Y100'
 'Y300' 'Y500' 'Y600' 'Y800' '1300' '1R00' '1S00' 'RUNAK' 'RUERG' 'R100'
 'U100' 'U200' 'U300' 'U400' 'U600' 'U700' 'U900' 'UB00' 'V100' 'V300'
 'V800' 'VC00' 'VF00' 'VG00' 'VH00' 'VI00' 'W100' 'Y100' 'Y300' 'Y500'
 'Y600' 'Y800' '1300' '1R00' '1S00' 'RUNAK' 'RUERG' 'R100' 'U100' 'U200'
 'U300' 'U400' 'U600' 'U700' 'U900' 'V100' 'V300' 'V800' 'VC00' 'VF00'
 'VG00' 'VH00' 'VI00' 'W100' 'Y100' 'Y300' 'Y500' 'Y800' '1300' '1R00'
 '1S00' 'RUNAK' 'RUERG' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600' 'U700'
 'U900' 'V100' 'V300' 'V800' 'VC00' 'VF00' 'VG00' 'VH00' 'W100' 'Y100'
 'Y300' 'Y500' 'Y800' '1300' '1R00' '1S00' 'RUNAK' 'R100' 'U100' 'U200'
 'U300' 'U400' 'U600' 'U700' 'U900' 'V100' 'V300' 'V800' 'VC00' 'VF00'
 'VG00' 'VH00' 'W100' 'Y100' 'Y300' 'Y500' 'Y600' 'Y800' '1300' '1R00'
 'RUNAK' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600' 'U700' 'U900' 'V100'
 'V300' 'V800' 'VC00' 'VF00' 'VG00' 'VH00' 'W100' 'Y100' 'Y300' 'Y500'
 'Y800' '1R00' 'RUNAK' 'R100' 'U100' 'U200' 'U300' 'U400' 'U600' 'U700'
 'V100' 'V300' 'V800' 'VH00' 'W100' 'Y100' 'Y300' '1S00' 'RUNAK' 'U100'
 'U300' 'U400' 'U600' 'U700' 'V100' 'V300' 'VH00' 'W100' 'Y100' 'Y300'
 'U100' 'U300' 'U400' 'U600' 'V100' 'V800' 'VH00' 'W100' 'Y100' 'Y300'
 'Y500' '1300' 'U100' 'U300' 'U400' 'V100' 'VH00' 'W100' 'Y100' 'Y300'
 '1300' 'U100' 'U600' 'VH00' 'W100' 'Y100' '1300' 'RUNAK' 'U100' 'U300'
 'U900' 'V100' 'VH00' 'W100' 'Y100' 'RUNAK' 'U100' 'VH00' 'W100' 'Y100'
 'Y300' 'RUNAK' 'U100' 'U200' 'V100' 'VH00' 'W100' 'Y100' 'Y300' 'RUNAK'
 'U100' 'U200' 'V100' 'V300' 'W100' 'Y100' 'Y300' 'RUNAK' 'U100' 'U200'
 'U600' 'V100' 'VG00' 'VH00' 'W100' 'Y100' 'Y300' 'RUNAK' 'U100' 'U200'
 'U600' 'V100' 'W100' 'Y100' 'Y300' '1300' 'RUNAK' 'U100' 'U200' 'U300'
 'U400' 'U600' 'V100' 'V300' 'VG00' 'VH00' 'W100' 'Y100' 'Y300' 'U100'
 'Y300' 'U100' 'V100' 'VH00' 'W100' 'U100' 'V100' 'Y100' 'Y300' 'U100'
 'W100' 'Y100' 'U400' 'V300' 'W100' 'Y100' 'U100' 'V100' 'W100' 'Y100'
 'Y300' 'U400' 'Y100' 'U400' 'V100' 'W100' 'Y100' 'Y300' 'U100' 'V100'
 'VH00' 'W100' 'Y100' 'U100' 'U300' 'U400' 'V100' 'VH00' 'Y100' 'Y300'
 'U100' 'V100' 'VH00' 'W100' 'Y100' 'Y300' 'Y800' 'U100' 'U300' 'U400'
 'V100' 'V300' 'VH00' 'W100' 'Y100' 'Y300' 'U100' 'Y100' 'U400' 'Y100'
 'U400' 'Y100' 'Y100' 'U100' 'Y100' 'Y300' 'U300' 'V100' 'Y300' 'Y300'
 'U100' 'U300' 'V100' 'Y300' 'U100' 'U300' 'U100' 'U300' 'U100' 'U300'
 'U100' 'U300' 'V100' 'V100' 'Y300' 'U100' 'U200' 'U600' 'V100' 'V300'
 'Y100' '1R00' '1S00' 'RUNAK' 'U600' 'UB00' '1R00' '1S00' 'RUNAK' 'U600'
 'UB00' '1R00' 'RUNAK' 'U600' 'Y600' '1R00' '1S00' 'RUNAK' 'U600' 'UB00'
 'Y600' '1R00' '1S00' 'RUNAK' 'U100' 'U300' 'U600' 'U700' 'U900' 'UB00'
 'V100' 'VH00' 'W100' 'Y100' 'Y300' 'Y600' '1R00' '1S00' 'RUNAK' 'U100'
 'U600' 'Y600' 'RUNAK' 'UB00' 'U100' 'U600' 'VH00' 'W100' 'V100' 'W100'
 'W100' '1R00' 'RUNAK' 'U100' 'V100' 'U100' 'U300' 'U400' 'U900' 'V100'
 'V300' 'V800' 'VG00' 'VH00' 'W100' 'Y100' 'Y300' '1R00' '1R00' 'RUNAK'
 'U100' 'U400' 'U600' 'V100' 'V300' 'V800' 'W100' 'Y100' 'U600' 'U100'
 'Y100' 'U100' 'U400' 'U600' 'V800' 'U400' 'Y100' 'V300']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_col}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_col}_merge'] != 'External', f'{id_col}_merge']
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:29: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']] = Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:33: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']] = Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:40: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 10','Unnamed: 11', 'Unnamed: 17']] = Group_data_work[['Unnamed: 10','Unnamed: 11', 'Unnamed: 17']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 4.15961770e+05
 1.22669235e+06 6.02701500e+04 4.45922615e+07 1.61900870e+06
 8.46609430e+05 1.72219813e+06 2.46588835e+07 1.25107740e+06
 2.23447070e+05 2.18483800e+04 9.19260992e+06 1.08189573e+07
 8.76452809e+06 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Group_data_work.loc[Group_data_work['Unnamed: 17'] > (Group_data_work['Unnamed: 10'] + Group_data_work['Unnamed: 11']), 'Законтрактовано'] = Group_data_work['Законтрактовано_075']
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:89: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_export = pd.read_sql(query, con=connection)
C:\Users\KlimovaAnnaA\Documents\MyFiles\Projects\OCP\Defs.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['3F00' '6800' '1100' ... '3200' '6800' '2100']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge_data.loc[merge_data[f'{id_col}_merge'] != 'External', 'last_merge'] = merge_data.loc[merge_data[f'{id_col}_merge'] != 'External', f'{id_col}_merge']
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:29: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']] = Group_data_work[['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:33: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']] = Group_data_work[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:40: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Group_data_work[['Unnamed: 10','Unnamed: 11', 'Unnamed: 17']] = Group_data_work[['Unnamed: 10','Unnamed: 11', 'Unnamed: 17']].fillna(0)
C:\Users\KlimovaAnnaA\AppData\Local\Temp\ipykernel_15804\3193353353.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00

In [10]:
EURO_to_print
SUEK_to_print

,CompCode,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Незаконтрактовано_075,Законтрактовано_075,Незаконтрактовано,Законтрактовано,Сумма,Дата
4,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Версия,035,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Освоение. Прогноз,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Сумма прогноза, USD",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Тип прогноз. данных,Резервирование,Заявка на закупку,Запрос (док 19*),...,Запрос (док 19*),Заказ на поставку,Факт,Результат,Незаконтрактовано,Законтрактовано,Незаконтрактовано,Законтрактовано,Сумма,NaN
3,NaN,NaN,ПВК,Календарный год,Календарный месяц,Балансовая единица,NaN,USD,USD,USD,...,USD,USD,USD,USD,USD,USD,USD,USD,USD,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,6700,NaN,#,2024,ДЕК,6700,"АО ""Ургалуголь""",0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,2024-12-01
1423,2100,NaN,#,2025,ЯНВ,2100,"АО ""СУЭК-Красноярск""",0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,2025-01-01
1424,3200,NaN,#,2025,ЯНВ,3200,"АО ""Разрез Харанорский""",0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,2025-01-01
1425,6800,NaN,#,2025,ЯНВ,6800,"ООО СК ""Малый порт""",0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,2025-01-01
1426,2100,NaN,#,2025,ФЕВ,2100,"АО ""СУЭК-Красноярск""",0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0,2025-02-01

In [11]:
Output_file_SUEK = "_".join([str(date.today()), 'SUEK_Invest.xlsx'])
Output_file_EURO = "_".join([str(date.today()), 'EUROCHEM_Invest.xlsx'])
Sheet_in_output_file = 'Invest'

if print_Invest == True:
    SUEK_to_print.to_excel(Output_file_SUEK, sheet_name=Sheet_in_output_file, index=False, header=False)
    EURO_to_print.to_excel(Output_file_EURO, sheet_name=Sheet_in_output_file, index=False, header=False)